@model WebAutopark.Models.VehicleViewModel
@{
    ViewData["Title"] = "Delete vehicle";
}
<h2>@ViewBag.Title</h2>
<div>
    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>
            @Model.VehicleId
        </dd>

        <dt>TypeId</dt>
        <dd>
            @Model.VehicleTypeId
        </dd>

        <dt>Model</dt>
        <dd>
            @Model.Model
        </dd>

        <dt>Year</dt>
        <dd>
            @Model.YearOfIssue
        </dd>

        <dt>Weight</dt>
        <dd>
            @Model.Weight
        </dd>

        <dt>Tank Capacity</dt>
        <dd>
            @Model.TankCapacity
        </dd>

        <dt>LicensePlate</dt>
        <dd>
            @Model.LicensePlate
        </dd>

        <dt>Image</dt>
        <dd>
            @Model.ImageLink
        </dd>

        <dt>Price $</dt>
        <dd>
            @Model.Price
        </dd>
    </dl>

    <div>
        <form asp-controller="Vehicle" asp-action="Delete" asp-route-id="@Model.VehicleId" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Delete" />
            </div>
        </form>
    </div>
</div>